<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta charset="utf-8">
  <title><%= html_title yield(:page_title) %></title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'application' %>
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application' %>
  <%= open_id_delegation_link_tags(enki_config[:open_id_delegation, :server], enki_config[:open_id_delegation, :delegate]) if enki_config[:open_id_delegation] %>
  <%= yield(:head) %>
</head>
<body>
  <div id="page_container">
    <div id= "header">
      <div id="logo">
        <%= image_tag "3FL.png" %>
      </div>
      <div id="navBar">
        <%= link_to "Home", root_url %>
        <%= link_to "About", root_url %>
        <%= link_to "Portfolio", root_url %>
        <%= link_to "Blog", root_url %>
      </div>
    </div>
    <div id="content">
      <div id="contentLeft">
        <div id="main">
          <%= yield %>
        </div>
      </div>
      <div id="contentRight">
        <div id="main">
          <%= yield %>
      </div>
      </div>
    </div>
  <div id="footer"><%= enki_config[:title] %> &#169; <%= enki_config[:author, :name] %>. Valid <a href="http://validator.w3.org/check?uri=referer">HTML5</a> and <%= link_to "ATOM", "http://feedvalidator.org/check.cgi?url=#{enki_config[:url]}/posts.atom" %>. Powered by <a href="http://www.enkiblog.com" title="A Ruby on Rails blogging app for the fashionable developer">Enki</a>.</div>
  </div>
  <%= javascript_include_tag 'prefixfree/prefixfree' %>
  <%= javascript_include_tag 'prefixfree/prefixfree.dynamic-dom' %>
  <%= javascript_include_tag 'prefixfree/prefixfree.jquery' %>
</body>
</html>
